:root {
    --dark-1: rgba(46, 51, 90, 1);
    --dark-2: rgba(69, 75, 121, 1);
    --dark-3: rgba(12, 16, 51, 1);
    --dark-4: rgba(29, 35, 77, 1);
    --labellightprimary: rgba(0, 0, 0, 1);
    --labellightsecondary: rgba(60, 60, 67, 0.6);
    --labellighttertiary: rgba(60, 60, 67, 0.3);
    --labellightquaternary: rgba(60, 60, 67, 0.18);
    --labeldarkprimary: rgba(255, 255, 255, 1);
    --labeldarksecondary: rgba(235, 235, 245, 0.6);
    --labeldarktertiary: rgba(235, 235, 245, 0.3);
    --labeldarkquaternary: rgba(235, 235, 245, 0.18);
    --papaya-colorblue: rgba(34, 215, 255, 1);
    --papaya-colordark-1: rgba(46, 51, 90, 1);
    --papaya-colordark-2: rgba(28, 27, 51, 1);
    --papaya-colordark-purple: rgba(72, 49, 157, 1);
    --papaya-colorpurple: rgba(131, 34, 255, 1);
    --papaya-colordeep-purple: rgba(97, 54, 144, 1);
    --papaya-colorred: rgba(237, 105, 94, 1);
    --papaya-coloryellow: rgba(244, 191, 79, 1);
    --papaya-colorgreen: rgba(97, 197, 84, 1);
    --papaya-colorneon-purple: rgba(128, 21, 167, 1);
    --typography-mobile-regular-caption2-font-family: "SF Pro Text", Helvetica;
    --typography-mobile-regular-caption2-font-weight: 400;
    --typography-mobile-regular-caption2-font-size: 11px;
    --typography-mobile-regular-caption2-letter-spacing: 0.06599999964237213px;
    --typography-mobile-regular-caption2-line-height: 13px;
    --typography-mobile-regular-caption2-font-style: normal;
    --typography-mobile-regular-caption1-font-family: "SF Pro Text", Helvetica;
    --typography-mobile-regular-caption1-font-weight: 400;
    --typography-mobile-regular-caption1-font-size: 12px;
    --typography-mobile-regular-caption1-letter-spacing: 0px;
    --typography-mobile-regular-caption1-line-height: 16px;
    --typography-mobile-regular-caption1-font-style: normal;
    --typography-mobile-regular-footnote-font-family: "SF Pro Text", Helvetica;
    --typography-mobile-regular-footnote-font-weight: 400;
    --typography-mobile-regular-footnote-font-size: 13px;
    --typography-mobile-regular-footnote-letter-spacing: -0.07800000160932541px;
    --typography-mobile-regular-footnote-line-height: 18px;
    --typography-mobile-regular-footnote-font-style: normal;
    --typography-mobile-regular-subheadline-font-family: "SF Pro Text", Helvetica;
    --typography-mobile-regular-subheadline-font-weight: 400;
    --typography-mobile-regular-subheadline-font-size: 15px;
    --typography-mobile-regular-subheadline-letter-spacing: -0.23999999463558197px;
    --typography-mobile-regular-subheadline-line-height: 20px;
    --typography-mobile-regular-subheadline-font-style: normal;
    --typography-mobile-regular-callout-font-family: "SF Pro Text", Helvetica;
    --typography-mobile-regular-callout-font-weight: 400;
    --typography-mobile-regular-callout-font-size: 16px;
    --typography-mobile-regular-callout-letter-spacing: -0.3199999928474426px;
    --typography-mobile-regular-callout-line-height: 21px;
    --typography-mobile-regular-callout-font-style: normal;
    --typography-mobile-regular-body-font-family: "SF Pro Text", Helvetica;
    --typography-mobile-regular-body-font-weight: 400;
    --typography-mobile-regular-body-font-size: 17px;
    --typography-mobile-regular-body-letter-spacing: -0.40799999237060547px;
    --typography-mobile-regular-body-line-height: 22px;
    --typography-mobile-regular-body-font-style: normal;
    --typography-mobile-regular-headline-font-family: "SF Pro Text", Helvetica;
    --typography-mobile-regular-headline-font-weight: 400;
    --typography-mobile-regular-headline-font-size: 17px;
    --typography-mobile-regular-headline-letter-spacing: -0.40799999237060547px;
    --typography-mobile-regular-headline-line-height: 22px;
    --typography-mobile-regular-headline-font-style: normal;
    --typography-mobile-regular-title3-font-family: "SF Pro Display", Helvetica;
    --typography-mobile-regular-title3-font-weight: 400;
    --typography-mobile-regular-title3-font-size: 20px;
    --typography-mobile-regular-title3-letter-spacing: 0.3799999952316284px;
    --typography-mobile-regular-title3-line-height: 24px;
    --typography-mobile-regular-title3-font-style: normal;
    --typography-mobile-regular-title2-font-family: "SF Pro Display", Helvetica;
    --typography-mobile-regular-title2-font-weight: 400;
    --typography-mobile-regular-title2-font-size: 22px;
    --typography-mobile-regular-title2-letter-spacing: 0.3499999940395355px;
    --typography-mobile-regular-title2-line-height: 28px;
    --typography-mobile-regular-title2-font-style: normal;
    --typography-mobile-regular-title1-font-family: "SF Pro Display", Helvetica;
    --typography-mobile-regular-title1-font-weight: 400;
    --typography-mobile-regular-title1-font-size: 28px;
    --typography-mobile-regular-title1-letter-spacing: 0.36399999260902405px;
    --typography-mobile-regular-title1-line-height: 34px;
    --typography-mobile-regular-title1-font-style: normal;
    --typography-mobile-regular-largetitle-font-family: "SF Pro Display",
      Helvetica;
    --typography-mobile-regular-largetitle-font-weight: 400;
    --typography-mobile-regular-largetitle-font-size: 34px;
    --typography-mobile-regular-largetitle-letter-spacing: 0.37400001287460327px;
    --typography-mobile-regular-largetitle-line-height: 41px;
    --typography-mobile-regular-largetitle-font-style: normal;
    --typography-mobile-bold-caption2-font-family: "SF Pro Text", Helvetica;
    --typography-mobile-bold-caption2-font-weight: 400;
    --typography-mobile-bold-caption2-font-size: 11px;
    --typography-mobile-bold-caption2-letter-spacing: 0.05999999865889549px;
    --typography-mobile-bold-caption2-line-height: 13px;
    --typography-mobile-bold-caption2-font-style: normal;
    --typography-mobile-bold-caption1-font-family: "SF Pro Text", Helvetica;
    --typography-mobile-bold-caption1-font-weight: 500;
    --typography-mobile-bold-caption1-font-size: 12px;
    --typography-mobile-bold-caption1-letter-spacing: 0px;
    --typography-mobile-bold-caption1-line-height: 16px;
    --typography-mobile-bold-caption1-font-style: normal;
    --typography-mobile-bold-footnote-font-family: "SF Pro Text", Helvetica;
    --typography-mobile-bold-footnote-font-weight: 400;
    --typography-mobile-bold-footnote-font-size: 13px;
    --typography-mobile-bold-footnote-letter-spacing: -0.07800000160932541px;
    --typography-mobile-bold-footnote-line-height: 18px;
    --typography-mobile-bold-footnote-font-style: normal;
    --typography-mobile-bold-subheadline-font-family: "SF Pro Text", Helvetica;
    --typography-mobile-bold-subheadline-font-weight: 400;
    --typography-mobile-bold-subheadline-font-size: 15px;
    --typography-mobile-bold-subheadline-letter-spacing: -0.5px;
    --typography-mobile-bold-subheadline-line-height: 20px;
    --typography-mobile-bold-subheadline-font-style: normal;
    --typography-mobile-bold-callout-font-family: "SF Pro Text", Helvetica;
    --typography-mobile-bold-callout-font-weight: 400;
    --typography-mobile-bold-callout-font-size: 16px;
    --typography-mobile-bold-callout-letter-spacing: -0.3199999928474426px;
    --typography-mobile-bold-callout-line-height: 21px;
    --typography-mobile-bold-callout-font-style: normal;
    --typography-mobile-bold-body-font-family: "SF Pro Text", Helvetica;
    --typography-mobile-bold-body-font-weight: 400;
    --typography-mobile-bold-body-font-size: 17px;
    --typography-mobile-bold-body-letter-spacing: -0.40799999237060547px;
    --typography-mobile-bold-body-line-height: 22px;
    --typography-mobile-bold-body-font-style: normal;
    --typography-mobile-bold-headline-font-family: "SF Pro Text", Helvetica;
    --typography-mobile-bold-headline-font-weight: 400;
    --typography-mobile-bold-headline-font-size: 17px;
    --typography-mobile-bold-headline-letter-spacing: -0.40799999237060547px;
    --typography-mobile-bold-headline-line-height: 22px;
    --typography-mobile-bold-headline-font-style: normal;
    --typography-mobile-bold-title3-font-family: "SF Pro Display", Helvetica;
    --typography-mobile-bold-title3-font-weight: 400;
    --typography-mobile-bold-title3-font-size: 20px;
    --typography-mobile-bold-title3-letter-spacing: 0.3799999952316284px;
    --typography-mobile-bold-title3-line-height: 24px;
    --typography-mobile-bold-title3-font-style: normal;
    --typography-mobile-bold-title2-font-family: "SF Pro Display", Helvetica;
    --typography-mobile-bold-title2-font-weight: 400;
    --typography-mobile-bold-title2-font-size: 20px;
    --typography-mobile-bold-title2-letter-spacing: 0.3799999952316284px;
    --typography-mobile-bold-title2-line-height: 24px;
    --typography-mobile-bold-title2-font-style: normal;
    --typography-mobile-bold-title1-font-family: "SF Pro Display", Helvetica;
    --typography-mobile-bold-title1-font-weight: 700;
    --typography-mobile-bold-title1-font-size: 28px;
    --typography-mobile-bold-title1-letter-spacing: 0.36000001430511475px;
    --typography-mobile-bold-title1-line-height: normal;
    --typography-mobile-bold-title1-font-style: normal;
    --typography-mobile-bold-largetitle-font-family: "SF Pro Display", Helvetica;
    --typography-mobile-bold-largetitle-font-weight: 700;
    --typography-mobile-bold-largetitle-font-size: 34px;
    --typography-mobile-bold-largetitle-letter-spacing: 0.37400001287460327px;
    --typography-mobile-bold-largetitle-line-height: 41px;
    --typography-mobile-bold-largetitle-font-style: normal;
    --typography-desktop-h1-60-bold-font-family: "SF Pro Display", Helvetica;
    --typography-desktop-h1-60-bold-font-weight: 700;
    --typography-desktop-h1-60-bold-font-size: 60px;
    --typography-desktop-h1-60-bold-letter-spacing: 0px;
    --typography-desktop-h1-60-bold-line-height: normal;
    --typography-desktop-h1-60-bold-font-style: normal;
    --typography-desktop-h2-40-bold-font-family: "SF Pro Display", Helvetica;
    --typography-desktop-h2-40-bold-font-weight: 700;
    --typography-desktop-h2-40-bold-font-size: 40px;
    --typography-desktop-h2-40-bold-letter-spacing: 0px;
    --typography-desktop-h2-40-bold-line-height: normal;
    --typography-desktop-h2-40-bold-font-style: normal;
    --typography-desktop-h3-30-bold-font-family: "SF Pro Display", Helvetica;
    --typography-desktop-h3-30-bold-font-weight: 700;
    --typography-desktop-h3-30-bold-font-size: 30px;
    --typography-desktop-h3-30-bold-letter-spacing: 0px;
    --typography-desktop-h3-30-bold-line-height: normal;
    --typography-desktop-h3-30-bold-font-style: normal;
    --typography-desktop-body-24-medium-font-family: "SF Pro Display", Helvetica;
    --typography-desktop-body-24-medium-font-weight: 500;
    --typography-desktop-body-24-medium-font-size: 24px;
    --typography-desktop-body-24-medium-letter-spacing: 0px;
    --typography-desktop-body-24-medium-line-height: 129.99999523162842%;
    --typography-desktop-body-24-medium-font-style: normal;
    --typography-desktop-body-main-20-regular-font-family: "SF Pro Text",
      Helvetica;
    --typography-desktop-body-main-20-regular-font-weight: 400;
    --typography-desktop-body-main-20-regular-font-size: 20px;
    --typography-desktop-body-main-20-regular-letter-spacing: 0px;
    --typography-desktop-body-main-20-regular-line-height: 139.9999976158142%;
    --typography-desktop-body-main-20-regular-font-style: normal;
    --typography-desktop-headline-text-17-bold-font-family: "SF Pro Text",
      Helvetica;
    --typography-desktop-headline-text-17-bold-font-weight: 700;
    --typography-desktop-headline-text-17-bold-font-size: 17px;
    --typography-desktop-headline-text-17-bold-letter-spacing: 0px;
    --typography-desktop-headline-text-17-bold-line-height: 129.99999523162842%;
    --typography-desktop-headline-text-17-bold-font-style: normal;
    --typography-desktop-medium-text-17-medium-font-family: "SF Pro Text",
      Helvetica;
    --typography-desktop-medium-text-17-medium-font-weight: 500;
    --typography-desktop-medium-text-17-medium-font-size: 17px;
    --typography-desktop-medium-text-17-medium-letter-spacing: 0px;
    --typography-desktop-medium-text-17-medium-line-height: 129.99999523162842%;
    --typography-desktop-medium-text-17-medium-font-style: normal;
    --typography-desktop-medium-text-17-regular-font-family: "SF Pro Text",
      Helvetica;
    --typography-desktop-medium-text-17-regular-font-weight: 400;
    --typography-desktop-medium-text-17-regular-font-size: 17px;
    --typography-desktop-medium-text-17-regular-letter-spacing: 0px;
    --typography-desktop-medium-text-17-regular-line-height: 129.99999523162842%;
    --typography-desktop-medium-text-17-regular-font-style: normal;
    --typography-desktop-caption-15-rgular-font-family: "SF Pro Text", Helvetica;
    --typography-desktop-caption-15-rgular-font-weight: 400;
    --typography-desktop-caption-15-rgular-font-size: 15px;
    --typography-desktop-caption-15-rgular-letter-spacing: 0px;
    --typography-desktop-caption-15-rgular-line-height: 129.99999523162842%;
    --typography-desktop-caption-15-rgular-font-style: normal;
    --typography-desktop-caption-15-semibold-font-family: "SF Pro Text", Helvetica;
    --typography-desktop-caption-15-semibold-font-weight: 400;
    --typography-desktop-caption-15-semibold-font-size: 15px;
    --typography-desktop-caption-15-semibold-letter-spacing: 0px;
    --typography-desktop-caption-15-semibold-line-height: 129.99999523162842%;
    --typography-desktop-caption-15-semibold-font-style: normal;
    --typography-desktop-small-text-13-regular-font-family: "SF Pro Text",
      Helvetica;
    --typography-desktop-small-text-13-regular-font-weight: 400;
    --typography-desktop-small-text-13-regular-font-size: 13px;
    --typography-desktop-small-text-13-regular-letter-spacing: 0px;
    --typography-desktop-small-text-13-regular-line-height: 129.99999523162842%;
    --typography-desktop-small-text-13-regular-font-style: normal;
    --typography-desktop-small-text-13-semibold-font-family: "SF Pro Text",
      Helvetica;
    --typography-desktop-small-text-13-semibold-font-weight: 400;
    --typography-desktop-small-text-13-semibold-font-size: 13px;
    --typography-desktop-small-text-13-semibold-letter-spacing: 0px;
    --typography-desktop-small-text-13-semibold-line-height: 129.99999523162842%;
    --typography-desktop-small-text-13-semibold-font-style: normal;
  }
  